.row-class {
  /*border-color: white;
      border-width: .01em;
      border-style: solid;
      margin-bottom: -1px;
      */
  flex-direction: "row";
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .Mobile {
    display: visible;
  }
  .WebApp {
    display: none;
  }

  .imageMovil {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-label {
    font-size: 23px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .Mobile {
    display: none;
  }
  .WebApp {
    display: visible;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .Mobile {
    display: none;
  }
  .WebApp {
    display: visible;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .Mobile {
    display: none;
  }
  .WebApp {
    display: visible;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .Mobile {
    display: none;
  }
  .WebApp {
    display: visible;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
