.div {
    flex-direction: row;
    
}

.my-label {
    font-size: 2em;
    display: flex;
    justify-content: center;
}


.div-flex {
    justify-content: space-between;
    flex-direction: row;
    
}

.div-flexMovil {
    justify-content: space-between;
    flex-direction: row;
    
}


.table-flex {
    flex: 100;
    flex-direction: row;
    
}

.ion-no-margin{

    justify-content: space-between;
    flex-direction: row;
}
   

.ion-no-marginMovil{

    justify-content: space-between;
    flex-direction: row;
}
   
  
.td-right {
    text-align: right;
   
    width: 65%;
    align-items: right;
    align-self: right;
    align-content: right;
    align-tracks: right;
    color: rgb(6, 40, 231);
    font-weight: bold;
    

    /*border-color: white;
    border-width: .01em;
    border-style: solid;
    margin-bottom: -1px;*/
}

.p-font{
    font-weight: bold;
    color: rgb(87, 87, 87);
    
}


  

.td-left {
    text-align: left;
    align-items: left;
    align-self: left;
    align-content: left;
    align-tracks: left;
    width: 65%;
    color: rgb(87, 87, 87);
    font-weight: bold;
    padding-left: 0px;

    /*border-color: white;
    border-width: .01em;
    border-style: solid;
    margin-bottom: -1px;*/
}

.td-left1 {
    text-align: left;
    align-items: left;
    align-self: left;
    align-content: left;
    align-tracks: left;
    width: 65%;
    color:  rgb(6, 40, 231);
    font-weight: bold;
    padding-left: 0px;

    /*border-color: white;
    border-width: .01em;
    border-style: solid;
    margin-bottom: -1px;*/
}


/*
.cell-class {
    border-color: white;
    border-width: .01em;
    border-style: solid;
    margin-bottom: -1px;
    /*background-color: lightgrey
}
*/

.cell-align {
    align-items: stretch;
}

.cell-buttons-size {
    size: 0ch;
}

.row-class {
    /*border-color: white;
    border-width: .01em;
    border-style: solid;
    margin-bottom: -1px;
    */
    flex-direction: "row";
}





.td-padding-right{

    padding-right: 30px;


}
.image{
    margin:auto;
    display:block;
}

.imageMovil
{
    margin:auto;
    display:block;

}



.WebApp{
    display: visible;
}
   /* Media Query for Mobile Devices */
   @media (max-width: 480px) {
    .Mobile{

        display: visible;
    }
    .WebApp{
        display: none;
    }

    .imageMovil { 
        display: flex;
       align-items: center;
      justify-content: center;
      
    }

    .my-label {
        font-size:23px;
    
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .Mobile{

        display: none;
    }
    .WebApp{
        display: visible;
    }

    .image { 
        display: flex;
   align-items: center;
   justify-content: center;
      
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .Mobile{

        display: none;
    }
    .WebApp{
        display: visible;
    }

    .image { 
        display: flex;
   align-items: center;
   justify-content: center;
      
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .Mobile{

        display: none;
    }
    .WebApp{
        display: visible;
    }

    .image { 
        display: flex;
   align-items: center;
   justify-content: center;
      
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .Mobile{

        display: none;
    }
    .WebApp{
        display: visible;
    }

    .image { 
        display: flex;
   align-items: center;
   justify-content: center;
      
    }
}






  

  
